*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Category Header */
.content-wrapper .header p{
    color: white;
    font-size: 2rem;
    margin-top: 2em;
}
.main.bg{
    background-image: linear-gradient(to left, rgba(245, 246, 252, 0.52),rgba(237,164,41, 0.52)),url('../images/bgimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
}